header
{
  background-color: blue;
}

.botonera
{
  display: inline-block;
  list-style: none;
}

footer{
  background-color: yellow;
}
footer section div img
{
  width: 30%;
}
footer section div p
{
  width: 30%;
}

.newB{
  background-color: blue;
  border-radius: 50%;
  transition: 1.3s;
}

.newB:hover{
  transform: scale(3.2);
}
