header
{
  background-color: #4B9130;
}

.botonera
{
  display: inline-block;
  list-style: none;
}

footer{
  background-color: yellow;
}
footer section div img
{
  width: 30%;
}
footer section div p
{
  width: 30%;
}

.newB{
  background-color: red;
  border-radius: 50%;
  transition: 0.3s;
}

.newB:hover{
  transform: scale(1.2);
}
